#footer {
    margin: auto 0;
    width: 100%;
    background-color: white;
    justify-content: center;
    padding-bottom: 55px;
    text-align: center;
    border-top: 1px solid #777777
}

#bottom-footer {
    width: 100%;
    text-align: center;
    background-color: lightgray;
    font-size: smaller;
}

.linkedin {
    color: darkgray;
}

.linkedin:hover {
    color: darkslategray;
}

.github {
    color: darkgray;
}

.github:hover {
    color: darkslategray;
}