.reminder {
    border: 3px solid gray;
    margin-left: 8%;
    float: left;
    font-size: 11px;
    text-align: center;
}

.smallReminder {
    display: none;
}

@media only screen and (max-width: 496px) {
    .smallReminder {
        display: inline-block;
        float: left;
        margin-left: 10px;
    }
    .reminder {
        display: none;
    }
}