.likeButton {
    border: 3px solid gray;
    float: right;
    text-align: center;
    font-size: 11px;
    margin-right: 8%;
}
.smallLike {
    display: none;
}

@media only screen and (max-width: 496px) {

.smallLike {
    display: inline-block;
    float: right;
    margin-right: 10px;
}
.likeButton {
    display: none;
}
}