.likeButton {
    border: 2px solid gray;
    float: right;
    text-align: center;
    font-size: 13px;
    margin-right: 6%;
    margin-top: 0%;
    margin-left: 0%
}
.smallLike {
    display: none;
}

@media only screen and (max-width: 496px) {

.smallLike {
    display: inline-block;
    /* float: right; */
    margin-right: 10px;
}
.likeButton {
    display: none;
}
}