.Crafts{
    background-color: white;
}

.Cooking {
    background-color: white;
}

.Fitness {
    background-color: white;
}

.Random {
    background-color: white;
}

.container {
    position: relative;
    margin-bottom: 40px;
}

.sms-form {
    z-index: 1;
}