/* .Crafts{
    background-color: hotpink;
}

.Cooking {
    background-color: lightblue;
}

.Fitness {
    background-color: yellow;
}

.Random {
    background-color: mediumseagreen;
} */

.container {
    position: relative;
}

.sms-form {
    position: absolute;
    z-index: 1;
}