.Crafts{
    background-color: white;
}

.Cooking {
    background-color: white;
}

.Fitness {
    background-color: white;
}

.Random {
    background-color: white;
}

.container {
    position: relative;
}

.sms-form {
    position: absolute;
    z-index: 1;
}