#homeID {
    background-image: url("/images/brick.png") 
  
}

.card {
    width: auto;
    height: 30rem;
    display: block;
    text-align: center;
}

.favorites-card {
    margin-top: 10%;
    height: 30rem;
    width: 100%;
}

.planner-card {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
}

.list-group-item.active {
    background-color: lightyellow;
    border-color: lightyellow;
    color: darkgrey;
    height: auto;
}

.explore-card {
    margin-bottom: 5% !important;
    width: 70rem;
    height: 15rem;
    display: block;
    overflow-x: scroll;
    text-align: center;
    height: auto;
}

